/* Start Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--page-color);
}


/* End Global */

/* Start Global Variables */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Lato', sans-serif; */
:root {
    --page-color: #E4DFD9;
    --main-color: #5D554B;
    --navbar_color: #707070;
    --title-color: #444444;

    --font-title: 'Playfair Display', serif;
    --font-logo: 'Montserrat', sans-serif;
    --font-text: 'Lato', sans-serif;
    --font-details: 'Open Sans', sans-serif;

    --navbar-size: 18px;
    --textsize-standar: 16px;
    --blogtitle-size: 30px;
    --sub-title-size: 27px;

    --font-thin: 100;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}


/* End Global Variables */


/* Start Header  */

header {
    width: 77.5%;
    margin: 0 auto;
}

header .navbar .logo h1 {
    font-family: var(--font-logo);
    font-size: var(--blogtitle-size);
    font-weight: var(--font-semibold);
    color: var(--main-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.navbar ul li a{
    font-family: var(--font-logo);
    font-weight: var(--font-light);
    font-size: var(--textsize-standar);
    color: var(--navbar_color);
    text-decoration: none;
}


/* End Header  */


/* Start MAin  */

.blog_page {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 20px;
}

.blog_title h2 {
    font-family: var(--font-title);
    font-size: var(--blogtitle-size);
    font-weight: var(--font-bold);
    padding-bottom: 8px;
}

.blog_details p {
    font-family: var(--font-details);
    font-size: 14px;
    color: var(--title-color);
    padding-bottom: 20px;
}

.blog_picture{
    background: url(/img/cofee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 756px;
    height: 327px;
    margin-bottom: 45px;
}

.blog_text .sub_title {
    font-family: var(--font-title);
    font-size: var(--sub-title-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.blog_text .text {
    font-family: var(--font-text);
    font-size: var(--textsize-standar);
    font-weight: var(--font-light);
    color: var(--title-color);
    line-height: 27px;
    padding-bottom: 45px;
}

.blog_text .image {
    background: url(/img/ancient_computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 756px;
    height: 372px;
    margin-bottom: 45px;
}

.blog_text .image_2 {
    background: url(/img/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 756px;
    height: 372px;
    margin-bottom: 45px;
}


/* Start Author */
.author_title {
    font-family: var(--font-title);
    font-size: var(--textsize-standar);
    font-weight: var(--font-regular);
    color: var(--navbar_color);
    word-spacing: 1px;
    margin-bottom: 11px;
}

.author .author_img {
    background-image: url(/img/a_person.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.author .author_name {
    font-family: var(--font-title);
    font-weight: var(--font-regular);
    font-size: var(--textsize-standar);
    color: var(--title-color);
}

.author .author_desc {
    font-family: var(--font-text);
    font-weight: var(--font-regular);
    font-size: 12px;
    color: var(--navbar_color);
}

.author {
    display: flex;
    align-items: center;
}
.author .author_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
}

.tags h5 {
    font-family: var(--font-title);
    font-weight: var(--font-regular);
    font-size: 14px;
    color: var(--navbar_color);
    margin-top: 50px;
}
.tags .tags_words {
    font-family: var(--font-title);
    font-weight: var(--font-regular);
    font-size: 12px;
    color: #EF6966;
}

/* End Author */

/* End MAin  */



/* Start related_article */
.related_article {
    width: 77.5%;
    margin: 0 auto;
}

.related_article .section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title .title {
    font-family: var(--font-title);
    font-weight: var(--font-semibold);
    font-size: var(--sub-title-size);
    color: var(--title-color);
}

.hr_line  {
    background-color: #B8B8B8;
    width: 77%;
    height: 1px;
}


/* Start related_post */
.related_post {
    display: flex;
    justify-content: center;
    gap: 49px;
    flex-wrap: wrap;
}

.post_container {
    width: 285px;
}

.post_1 {
    display: flex;
    flex-direction: column;
}

.related_post .post_img {
    background-image: url(/img/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 185px;
    margin-top: 71px;
}
.related_post .post_img_2 {
    background-image: url(/img/person_writing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 185px;
    margin-top: 71px;
}
.related_post .post_img_3 {
    background-image: url(/img/read_more.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 285px;
    height: 185px;
    margin-top: 71px;
}

.post_category {
    
    display: flex;
    justify-content: space-between;
}
.post_category .category, .post_category .date {
    font-family: var(--font-text);
    font-weight: var(--font-regular);
    font-size: 12px;
    color: var(--navbar_color);
}

.related_post .post_title h2 {
    font-family: var(--font-title);
    font-size: var(--sub-title-size);
    font-weight: var(--font-regular);
    color: var(--title-color);
    padding-top: 15px;
}

.post_text {
    font-family: var(--font-text);
    font-size: var(--textsize-standar);
    font-weight: var(--font-regular);
    color: var(--navbar_color);
    line-height: 25px;
    word-spacing: 1px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.read_post {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: var(--font-bold);
    color: var(--title-color);
    text-decoration: none;
}

/* End related_post */


/* End related_article */
